body{
      background-color:  #e6f2ff;
    }
h3{
     color:royalblue;
    }


hr{
    border-width: 1px;
    border: none;
    border-bottom: dotted;
    width: 5%;
    border-color: blue;
}

/*  Group selectors 
* {
    color: #003366;
} */

/* Id Selectors */

#profilePicture{
    width: 150px;
    height: 150px;
    padding: 1em;
    margin-right: 1em;
}

#name{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
}

/* Class selectors */

.paragraph{
    font-size: 16px;
}

#name:hover{

    background-color: darkgray;
}
    
